{% extends 'base.html' %}
{% load static %}
{% load my_filters %}
{% load my_tegs %}
{% load gravatar %}
{% block overflow-lines %}hidden{% endblock %}
{% block extra_css %}
    <link href="{% static 'css/in_chat.css' %}" rel="stylesheet"/>
{% endblock %}
{% block h_position %}fixed{% endblock %}
{% block h_container %}container-fluid{% endblock %}
{% block main %}

    <div class="section-main">
        <div class="section__left" style="border-right: 1px solid rgba(70, 26, 105, 0.67);">

            <div style="" class="title-section-div"><p class="section-title">{{ section_title }}</p></div>

            {% include 'app_chat/message_form.html' with value='conversation' form=conversation_form rows=c_form_rows%}

            <pre style="margin-top: 90px;"></pre>
            {% for conversation in conversations %}
                {% if user == conversation.user %}

                    <div class="message-format-how" id='{% conv_refactor_id conversation.id %}'
                         style="visibility: hidden; display: none;">

                        <form method="post" name="conversation_delete">
                            {% csrf_token %}
                            <input type="hidden" name="form" value="conversation_delete" required>
                            <input type="hidden" name="ncd_id" value="{{ conversation.id }}" required>

                            <button type="submit" class="remove-btn">Удалить</button>
                        </form>

                        <button id='{% conv_refactor_btn conversation.id %}' class="refactor-btn" onclick="
                        change_visibility('{% conv_refactor_form_id conversation.id %}', 'visible', 'unset');
                        change_visibility('{% t_conversation_id conversation.id %}', 'hidden', 'none'); change_visibility('{% conv_refactor_btn conversation.id %}', 'hidden', 'none');
                        set_styles('{% conv_div_id conversation.id %}', '360px', '35px')">Изменить</button>

                    </div>

                {% endif %}

                    <div style="max-width: {{ conversation.text|max_string_len_cnv }}px;"
                    class="conversation-format" id="{% conv_div_id conversation.id %}">

                        <div class="message-format-how">

                            <div class="message-format-how">
                                <img class="header__profile__img message-img"
                            src="{% if conversation.user.avatar %}
                                {{ conversation.user.avatar.url }}
                            {% elif conversation.user.email %}
                                {% gravatar_url conversation.user.email %}
                            {% else %}
                                {% static 'app_chat/web_chat_imgs/пер_ик.png' %}
                            {% endif %}">
                                <p class="conversation-user">{{ conversation.user.username }}</p>
                            </div>

                            {% if user == conversation.user %}
                                <input class="set-btn" type="image"
                                src="{% static 'app_chat/web_chat_imgs/шестирёнка.png' %}" onclick = 'change_visibility("{% conv_refactor_id conversation.id %}", "unset", "flex");
                                change_visibility("{% conv_refactor_form_id conversation.id %}", "hidden", "none"); change_visibility("{% t_conversation_id conversation.id %}", "visible")
                                change_visibility("{% conv_refactor_btn conversation.id %}", "visible", "unset");
                                set_styles("{% conv_div_id conversation.id %}", "{{ conversation.text|max_string_len_cnv }}px", "20px")'>
                            {% endif %}

                        </div>
                        <a class="conversation-link" href="?conversation={{ conversation.id }}#bottom">
                            <div id='{% t_conversation_id conversation.id %}' style="visibility: visible;">
                                    <p class="conversation-text">{{ conversation }}</p>
                            </div>
                        </a>
                        <form method="post" name="conversation_refactor" id="{% conv_refactor_form_id conversation.id %}" style="visibility: hidden; display: none; margin-right: 40px;">
                            {% csrf_token %}
                            <input type="hidden" name="form" value="conversation_refactor" required>
                            <input type="hidden" name="ncd_id" value="{{ conversation.id }}" required>
                            <textarea rows="3" class="form-input" name="text" aria-label="text" style="width: 95%;"
                            >{{ conversation.text }}</textarea>
                            <button type="submit" class="refactor-create-btn"><img src="{% static 'app_chat/web_chat_imgs/sent_img.png' %}"></button>
                        </form>

                        <pre class="date-text-cnv">{{ conversation.created_at }}</pre>
                    </div>

            {% endfor %}
            <pre>       </pre>
            <a name="conversationBottom"></a>
        </div>

        <div class="section__right" style="">

            {% if conversation_id %}
                <div class="title-section-div"><p class="section-title">{{ conversation_now|len_check_cut }}</p></div>

                <a id="topBtn" class="top-bottom-btn" style="background: url('{% static 'app_chat/web_chat_imgs/фон_д_к.png' %}'); visibility: hidden; margin-top: 45px;" href="#">вверх переписки</a>
                <a id="bottomBtn" class="top-bottom-btn" style="background: url('{% static 'app_chat/web_chat_imgs/фон_д_к.png' %}'); margin-top: 525px; visibility: visible;" href="#bottom">вниз переписки</a>
                {% include 'app_chat/message_form.html' with value='message' form=message_form rows=m_form_rows %}

                <pre style="margin-top: 90px;"></pre>
                {% for message in messages %}
                    {% if user == message.user %}

                        <div class="message-format-how" id='{% refactor_id message.id %}'
                                style="visibility: hidden; display: none;">

                            <form method="post" name="delete">
                                {% csrf_token %}
                                <input type="hidden" name="form" value="delete" required>
                                <input type="hidden" name="nmd_id" value="{{ message.id }}" required>
                                <button type="submit" class="remove-btn">Удалить</button>
                            </form>

                            <button id='{% refactor_btn message.id %}' class="refactor-btn" onclick="
                            change_visibility('{% refactor_form_id message.id %}', 'visible', 'unset');
                            change_visibility({{ message.id }}, 'hidden', 'none'); change_visibility('{% refactor_btn message.id %}', 'hidden', 'none');
                            set_styles('{% div_id message.id %}', '360px')">Изменить</button>

                        </div>

                    {% endif %}

                    <div style="max-width: {{ message.text|max_string_len }}px;{% if message.user == user and not message.text|length >= 40 %}margin-left:{{ message.text|max_string_len|MARGIN }}px;{% endif %}"
                    class="{% if message.user == user %}my-message-format{% else %}message-format{% endif %}" id="{% div_id message.id %}">

                        <div class="message-format-how">

                            <div class="message-format-how">
                                <img class="header__profile__img message-img"
                            src="{% if message.user.avatar %}
                                {{ message.user.avatar.url }}
                            {% elif message.user.email %}
                                {% gravatar_url message.user.email %}
                            {% else %}
                                {% static 'app_chat/web_chat_imgs/пер_ик.png' %}
                            {% endif %}">
                                <p>{{ message.user.username }}</p>
                            </div>

                            {% if user == message.user %}
                                <input class="set-btn" type="image"
                                src="{% static 'app_chat/web_chat_imgs/шестирёнка.png' %}" onclick = 'change_visibility("{% refactor_id message.id %}", "unset", "flex");
                                change_visibility("{% refactor_form_id message.id %}", "hidden", "none"); change_visibility("{{ message.id }}", "visible");
                                change_visibility("{% refactor_btn message.id %}", "visible", "unset");
                                set_styles("{% div_id message.id %}", "{{ message.text|max_string_len }}px", "{{ message.text|max_string_len|MARGIN }}px")'>
                            {% endif %}

                        </div>

                        <div id="{{ message.id }}" style="visibility: visible;">
                            {% if message.is_link %}
                                    {% include 'app_chat/link_message.html' with texts=message.texts_FIT links=message.links_FIT how=message.user %}
                                    <br/>
                            {% else %}
                                <p class="{% if message.user == user %}my-message-text{% else %}message-text{% endif %}">
                                {{ message }}</p>
                            {% endif %}
                        </div>
                        <form method="post" name="refactor" id="{% refactor_form_id message.id %}" style="visibility: hidden; display: none; margin-right: 40px;">
                            {% csrf_token %}
                            <input type="hidden" name="form" value="refactor" required>
                            <input type="hidden" name="nmd_id" value="{{ message.id }}" required>
                            <textarea rows="3" class="form-input" name="text" aria-label="text" style="width: 95%;"
                            >{{ message.text }}</textarea>
                            <button type="submit" class="refactor-create-btn"><img src="{% static 'app_chat/web_chat_imgs/sent_img.png' %}"></button>
                        </form>

                        <pre class="date-text">{{ message.created_at }}</pre>
                    </div>

                {% endfor %}
                <pre>       </pre>
                <a name="bottom"></a>
            {% endif %}
        </div>

    </div>

    <script type="text/javascript" src='{% static "js/in_chat.js" %}'></script>


{% endblock %}
