{% extends 'base.html' %}
{% load static %}
{% load gravatar %}
{% load my_filters %}
{% block extra_css %}
    <link href="{% static 'css/notes.css' %}" rel="stylesheet"/>
{% endblock %}

{% block main %}
    <a href="{% url 'notes_chat' %}">
        <img style="margin-left: 20px; position: fixed;" width="70px" height="40px" src="{% static 'app_chat/web_chat_imgs/стрелка(назад).png' %}"/>
    </a>

    <div align="center">
        <div class="note-format" style="margin-top: 100px;">
                {% url 'visit_note' note.id as link %}
                <div class="note-format-top-bottom note-top-texts" style="width: 600px;">
                    <div class="note-top-texts">
                    <img class="header__profile__img note-img"
                                src="{% if note.user.avatar %}
                                    {{ note.user.avatar.url }}
                                {% elif note.user.email %}
                                    {% gravatar_url note.user.email %}
                                {% else %}
                                    {% static 'app_chat/web_chat_imgs/пер_ик.png' %}
                                {% endif %}">
                    <p>{{ note.user.username }}</p>
                    </div>

                    <p>{{ note.name }}</p>
                </div>

                {% if user == note.user %}
                    <form method="post">
                        {% csrf_token %}
                        <textarea style="width: 600px;" name="text" cols="40" rows="10" id="id_text">{{ note.text }}</textarea>
                        <input type="hidden" name="form" value="refactor" required>
                        <button class="note-refactor-btn" type="submit">Соханить</button>
                    </form>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form" value="delete" required>
                        <button class="note-remove-btn" type="submit">Удалить</button>
                    </form>
                {% else %}
                    <div class="note-format-middle" style="max-width: 590px;">
                        <p class="note-text">{{ note.text }}</p>
                    </div>
                {% endif %}

                <div class="note-format-top-bottom" style="width: 600px;">
                    <pre class="note-created-at">{{ note.created_at }}</pre>
                </div>
        </div>
    </div>
{% endblock %}