.remove-btn{
    background-color: rgb(155, 0, 50);
    border-radius: 7px;
    border-width: 2px solid;
    border-color: red;
    width: 24px;
    height: 30px;

}

.create-btn{
    width: 27px;
    height: 27px;
    border: none;
    background: none;
    position: absolute;
    bottom: 9px;
    right: 550px;
    visibility: hidden;

}

.refactor-create-btn{
    width: 27px;
    height: 27px;
    border: none;
    background: none;
    float: right;
    margin-right: 5px;
}

.create-btn:onclick{
    outline: none;
}


.refactor-btn{
    background-color: rgb(220, 210, 270);
    color: rgb(60, 55, 60);
    border-radius: 7px;
    border-width: 2px solid;
    border-color: rgb(95, 90, 110);
}

.section-main{
    overflow: hidden;
    display: flex;
    background: rgb(250, 235, 265);
}

.section__right,
.section__left{
    width: 50%;
    margin-top: 50px;
    padding-bottom: 80px;
    overflow-y: scroll;
    height: 500px;
 }

.set-btn{
    width: 30px;
    height: 30px;
}

.message-format-how{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-message-format{
    background-color: rgb(210, 200, 230);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top:8px;
    margin-bottom: 7px;
    float: right;
    display: inline-block;
    clear:both;

}

.message-format{
    background-color: rgb(80, 25, 100);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top:10px;
    margin-bottom: 8px;
    margin-left: 5px;
    display: inline-block;
    clear:both;

}

.my-message-tex*t{
    color:rgb(25, 10, 35);
    font-size: 18px;
}

.message-text{
    color:rgb(210, 205, 220);
    font-size: 18px;
}

.date-text{
    color:rgb(141, 141, 141);
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 2px;  
}

.date-text-cnv{
    color:rgb(91, 91, 91);
    font-size: 15px;
    margin-left: 15px;
}

.message-img{
    margin-left: 10px;
    width: 35px;
    height: 35px;
}

.link_message{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bottom-btn{
    margin-left: 800px;
    color: white;
    text-decoration-line: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    position: fixed;
}

.top-bottom-btn:hover{
    color: rgb(214, 210, 255);
    font-size: 20px;
    border: 1px solid
}

.conversation-format{
    background-color: rgb(150, 110, 165);
    border-radius: 18px;
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top:18px;
    margin-left: 15px;
    display: inline-block;

}

.conversation-text{
    color: rgb(65, 25, 80);
    font: bolder;
    font-size: 20px;
}

.conversation-text:hover{
    color: rgb(65, 25, 80);
}

.conversation-link{
    text-decoration-line: none;
}

.conversation-user{
    color: black;
}

.conversation-user:hover{
    color: black;
}

.section-title{
    font-size: 24px;
    color: rgba(70, 26, 105, 0.67);
    margin-top: 10px;
    font: Arial;
}

.title-section-div{
    margin-top: 20px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(70, 26, 105, 0.67);
    border-bottom: 1px solid rgba(70, 26, 105, 0.67);
    background: rgb(250, 235, 265);
    width: 50%;
}

.form-format{
    position: fixed;
    margin-top: 535px;
    width: 100%;
    margin-left: 10px;
}

.form-input{
    border: 2px solid;
    padding: 2px 8px;
    width: 45%;
    border-radius: 15px;
}

.form-input:focus, .form-input:active{
    outline: none;
}

.attached{
    width: 37px;
    height: 27px;
    position: fixed;
    right: 3%;
    top: 85%;
    background-color: rgb(105, 15, 105);
    border-radius: 35%;
    padding: 15px;


}

.attached:hover{
    cursor: pointer;
}